.configs {
    padding: 1rem;
    position: absolute;
    right: 0;
    background: white;
    margin: 1rem;
    box-shadow: rgba(53, 26, 175, 0.25) 0px 4px 8px -2px, rgba(46, 12, 92, 0.08) 0px 0px 0px 1px;
    border-radius: 0.5rem;
}

