
.fabricCanvas {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.values {
    display: flex;
    justify-content: space-between;
    width: 800px;
    margin: 1rem;
    padding-inline: 1rem;
}
.values p {
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.05rem;
    color: rgb(75, 75, 75);
}
.values p span {
    margin-left: 0.2rem;
    font-size: 12px;
    color: rgb(0, 0, 0);
}

.dropArea {
    position: absolute;
    z-index: 1;
    display: flex;
    align-items: center; 
    justify-content: center;
    width: 800px;
    height: 700px;
    
}
.dropArea .content {
    padding: 2rem 5rem;
    background: #ccddff5e;
    /* border-radius: .5rem; */
    /* min-height: 7rem; */
    /* text-align: center; */
    /* box-shadow: rgb(194 194 255 / 37%) 0px 5px 15px; */
    display: flex;
    flex-direction: column;
    align-items: center;
}
.dropArea .content p {
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    color: #4c679d;
    font-family: 'Pixelify Sans';
    letter-spacing: 0.02rem;
}

.dropArea .content span {
    font-size: 13px;
    color: #f84343;
    font-weight: 400;
    letter-spacing: 0.01rem;
}


@media (max-width: 900px) {
    .values {
        flex-direction: column;
        align-items: center;
    }
}